data
.git*
.DS_Store
**/__pycache__
**/.pytest_cache
client/node_modules
client_web2/node_modules
client_web2/dist
client_web2/coverage
client_web2/.vite
**/themes_assets/**/node_modules
client/dist
client/.tmp
server/.coverage
*.md
!docker/README.md
**/*.pyc
__pycache__
*.pyo
*.pyd
*.log
*.tox
*.md
